html, body {
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	display: block;
}

body {
	background-color: rgb(60, 99, 130);
	color: rgba(0, 0, 0, 0.66);
}

/* Section carré centrée */
	
	body > section {
		background-color: white;
		border-radius: 5px;
		height: calc(100% - 6em);
		width: calc(100% - 6em);
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 3em;
		left: 3em;
		display: flex;
	}

	/* Colonnes dans la section */
		body > section > section:first-child {
			width: 45%;
		}

		body > section > section:last-child {
			width: 55%;
		}

		body > section > section:last-child {
			border-left: 1px solid rgba(0, 0, 0, 0.27);
		}

/* Titre des sections */

	body h1 {
		font-size: 1.5em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.27);
		margin: 0;
		padding: 0.5em 1em;
	}

/* Contacts */

	#contact div {
		width: fit-content;
		display: inline-block;
		cursor: pointer;
	}

	#contact div p {
		margin: 0;
		text-align: center;
	}

	#contact .img {
		background-size: fill;
		border-radius: 50px;
		margin: 1em 1em 0;
		height: 50px;
		width: 50px;
	}

/* Chat */

	#chat .img {
		background-size: fill;
		border-radius: 50px;
		margin: 1em 1em;
		height: 2em;
		width: 2em;
	}

	#chat > div {
		display: flex;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		cursor: pointer;
	}

	#chat div > * {
		display: inline-block;
	}

	#chat div p {
		margin: 0;
		padding-top: 1.5em;
		width: 75%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	#Tatanou {
		background: linear-gradient(to bottom, rgba(0, 0, 90, 0.9), rgba(0, 0, 90, 0.25));
	}

	#Bot {
		background: linear-gradient(to bottom, rgba(0, 90, 0, 0.9), rgba(0, 90, 0, 0.25));
	}

	#Thomas {
		background: linear-gradient(to bottom, rgba(90, 0, 0, 0.9), rgba(90, 0, 0, 0.25));
	}

/* Discussion */

	#discuss > * {
		position: relative;
	}

	#discuss #target {
		height: 10%;
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.27);
	}

	#discuss #target h2 {
		margin: 0;
	    top: 50%;
	    position: relative;
	    transform: translateY(-50%);
	    text-align: center;
	    font-size: 1.2em;
	}

	#discuss #discussion {
		height: 80%;
		padding: 2em 0;
		overflow: auto;
		box-sizing: border-box;
	}

	#discuss input {
		box-sizing: border-box;
		height: 10%;
		position: relative;
		padding: 10px 0px;
		text-indent: 0.5em;
		background-color: white;
		width: 100%;
		border: none;
		box-shadow: inset 0px 2px 9px 0px rgba(0, 0, 0, 0.27);
		font-size: 1.2em;
		border-bottom-right-radius: 5px;
	}

	/* Messages dans la discussion */

		#discussion div {
			display: inline-block;
			position: relative;
			width: 100%;
		}


		#discussion .not-me p,
		#discussion .me p {
			position: relative;
			width: fit-content;
			padding: 9px;
			margin: 0.1em 3%;
			border-radius: 5px;
			max-width: 70%;
		}

		#discussion .not-me p {
			float: left;
			background-color: white;
			border: 1px solid rgba(0, 0, 0, 0.27);
			color: grey;
		}

		#discussion .me p {
			background: linear-gradient(to bottom right, rgba(74, 105, 189,1.0) 50%, rgba(106, 137, 204, 1.0));
			float: right;
			color: white;
		}

		div.me + div.not-me p,
		div.not-me + div.me p {
			margin-top: 2em !important;
		}
